<footer>
    <h2>SOY EL FOOTER</h2>
    <button class="btn" value="Boton 5">BOTON 5</button>
</footer>

<style>
    *{
        padding: 0;
        margin: 0;
    }
    footer {
        margin-top: 30px;
        width: 100vw;
        height: 12vh;
        background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    h2{
        text-align: center;
    }
    button{
        margin-top: 10px;
        width: 100px;
        height: 20px;
        background-color: bisque;
        border: 1px solid;
        border-radius: 10%;
    }
</style>